{
    "version": "",
    "date": "",
    "product": "firefox",
    "preflight": {
        "human_tasks": []
    },
    "inflight": [{
        "buildnum": 1,
        "aborted": false,
        "graphids": [],
        "human_tasks": [
            {
                "alias": "shipit",
                "description": "submit to Shipit",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It",
                "resolved": false
            },
            {
                "alias": "publish",
                "description": "publish release tasks",
                "docs": "https://github.com/mozilla/releasewarrior/blob/master/how-tos/relpro.md#4-publish-release",
                "resolved": false
             },
             {
                "alias": "signoff",
                "description": "signoff in Balrog",
                "docs": "https://github.com/mozilla/releasewarrior/blob/master/how-tos/relpro.md#3-signoffs",
                "resolved": false
             }
        ],
        "issues": [ ]
    }]
}
