-e ./../../lib/cli_common[taskcluster,log] #egg=mozilla-cli-common
-e ./../../lib/backend_common[log,security,cors,api,cache] #egg=mozilla-backend-common

aiohttp
async-lru
cachetools
redis
rq
gunicorn
elasticsearch-async

https://github.com/mozilla/esFrontLine/archive/125a53c4bf95b53f4a5b09a3408d5b4e6f843d80.tar.gz#egg=esFrontLine
