{% extends 'layout.html' %}
{% block head %}
  {{ super() }}
  {{ head.script(url_for('static', filename='js/angular/angular.min.js')) }}
  {{ head.script(url_for('static', filename='js/moment/moment.min.js')) }}
  {{ head.script(url_for('static', filename='js/angular-moment/angular-moment.min.js')) }}
  {%- for stylesheet in stylesheets %}
  {{ head.stylesheet(stylesheet) }}
  {%- endfor %}
  {%- for script in scripts %}
  {{ head.script(script) }}
  {%- endfor %}
  {% if initial_data -%}
  <script type="text/javascript">
    angular.module('initial_data', []).constant('initial_data',
            {{ initial_data|tojson }});
  </script>
  {%- endif %}
{% endblock %}
{% block content %}
{{template|safe}}
{% endblock %}
