{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}
{% import 'head_macros.html' as head %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  {{ head.stylesheet(url_for('static', filename='relengapi.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/alertify/alertify.core.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/alertify/alertify.default.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/bootstrap/css/bootstrap.min.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/bootstrap/css/bootstrap-theme.min.css')) }}
  {{ head.script(url_for('static', filename='js/jquery/jquery-1.11.1.min.js')) }}
  {{ head.script(url_for('static', filename='js/bootstrap/js/bootstrap.min.js')) }}
  {{ head.script(url_for('static', filename='js/alertify/alertify.min.js')) }}
  {%- for content in layout_extra_head_content %}
  {{ content|safe }}
  {%- endfor %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script type="text/javascript">
        $(function() {
            var messages = {{ messages|tojson }};
            $.each(messages, function (idx, msginfo) {
                var category = msginfo[0];
                var msg = msginfo[1];
                alertify.log(msg, category, 0);
            });
        })
      </script>
    {% endif %}
  {% endwith %}
  <meta charset="UTF-8">
  <title>{% block title %}Releng API{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div class="container-fluid">
  {% block header %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- the "hamburger" menu for when the viewport is too narrow -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-xs" href="/">RelengAPI</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false" href="#">About
              <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right navbar-about" role="menu">
              <li role="presentation" class="dropdown-header">
                RelengAPI
              </li>
              <li><a href="/docs/">Documentation</a></li>
              <li><a href="https://github.com/mozilla/build-relengapi/issues">Issues</a></li>
              <li><a href="https://github.com/mozilla/build-relengapi">GitHub</a></li>
              <li role="presentation" class="divider">
              <li><a href="https://git.mozilla.org/?p=build/relengapi.git">Repository of Record</a></li>
            </ul>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false" href="#">
              <span class="glyphicon glyphicon-user"></span>
              <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right navbar-user-info">
              {% if current_user.is_authenticated() %}
                <li class="text-center">Logged in as
                    {% if current_user.type == "human" %}
                      <span class="user_email">{{ current_user.authenticated_email }}</span>
                    {% else %}
                      {{ current_user.type }}
                    {% endif %}
                </li>
                <li class="text-center">
                  <a class="navbar-link" href="/auth/">Account details..</a>
                </li>
                {% if current_user.type == "human" %}
                  <li class="text-center">
                    <button class="btn btn-danger" id="logout">Logout</button>
                  </li>
                {% endif %}
              {% else %}
                <li class="text-center">Not logged in</li>
                <li class="text-center">
                  <button class="btn btn-primary" id="login">Login</button>
                </li>
                {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
  </div>
</body>
</html>


