{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}
{% import 'head_macros.html' as head %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  {{ head.stylesheet(url_for('static', filename='relengapi.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/alertify/alertify.core.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/alertify/alertify.default.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/bootstrap/css/bootstrap.min.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/bootstrap/css/bootstrap-theme.min.css')) }}
  {{ head.script(url_for('static', filename='js/jquery/jquery-1.11.1.min.js')) }}
  {{ head.script(url_for('static', filename='js/bootstrap/js/bootstrap.min.js')) }}
  {{ head.script(url_for('static', filename='js/alertify/alertify.min.js')) }}
  {%- for content in layout_extra_head_content %}
  {{ content|safe }}
  {%- endfor %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script type="text/javascript">
        $(function() {
            var messages = {{ messages|tojson }};
            $.each(messages, function (idx, msginfo) {
                var category = msginfo[0];
                var msg = msginfo[1];
                alertify.log(msg, category, 0);
            });
        })
      </script>
    {% endif %}
  {% endwith %}
  <meta charset="UTF-8">
  <title>{% block title %}Releng API{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div class="container-fluid">
  {% block header %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand hidden-xs" href="/">RelengAPI</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">
              {% if current_user.is_authenticated() %}
                Logged in as
                {% if current_user.type == "human" %}
                  <span class="user_email"><a class="navbar-link" href="/auth/">{{ current_user.authenticated_email }}</a></span>
                {% else %}
                  {{ current_user.type }}
                {% endif %}
              {% else %}        
                Not logged in
              {% endif %}
            </p>
            {% if current_user.is_authenticated() %}
              {% if current_user.type == "human" %}
                <button class="btn btn-default navbar-btn" id="logout">Logout</button>
              {% endif %}
            {% else %}        
              <button class="btn btn-default navbar-btn" id="login">Login</button>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
  </div>
</body>
</html>


