<!-- This Source Code Form is subject to the terms of the Mozilla Public
     License, v. 2.0. If a copy of the MPL was not distributed with this
     file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div ng-app='badpenny' ng-controller="TasksController">
    <h1>Bad Penny Tasks
        <button class="pull-right btn btn-default" ng-click="refresh()">Refresh</button></h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="tasklist list-group">
                <div ng-repeat="task in tasks | orderBy:'name'" class="list-group-item">
                    <bp-task task="task"></bp-task>
                </div>
            </div>
        </div>
    </div>
</div>
