*                                     @garbas @La0
/src/releng_archiver                  @mozilla/Releng
/src/releng_clobberer                 @mozilla/Releng
/src/releng_docs                      @mozilla/Releng @mozilla/release-management
/src/releng_frontend                  @mozilla/Releng
/src/releng_mapper                    @mozilla/Releng
/src/releng_notification_identity     @mozilla/Releng
/src/releng_notification_policy       @mozilla/Releng
/src/releng_tooltool                  @mozilla/Releng
/src/releng_treestatus                @mozilla/Releng
/src/shipit_bot_uplift                @mozilla/release-management
/src/shipit_code_coverage             @mozilla/release-management
/src/shipit_frontend                  @mozilla/Releng @mozilla/release-management
/src/shipit_pipeline                  @mozilla/Releng
/src/shipit_pulse_listener            @mozilla/release-management
/src/shipit_signoff                   @mozilla/Releng
/src/shipit_static_analysis           @mozilla/release-management
/src/shipit_taskcluster               @mozilla/Releng
/src/shipit_uplift                    @mozilla/release-management
/src/shipit_workflow                  @mozilla/Releng
