*                                     @garbas @La0
/src/releng_archiver                  @mozilla/Releng
/src/releng_clobberer                 @mozilla/Releng
/src/releng_docs                      @mozilla/Releng @mozilla/release-management
/src/releng_frontend                  @mozilla/Releng
/src/releng_mapper                    @mozilla/Releng
/src/releng_notification_identity     @mozilla/Releng
/src/releng_notification_policy       @mozilla/Releng
/src/releng_tooltool                  @mozilla/Releng
/src/releng_treestatus                @mozilla/Releng
/src/shipit/frontend                  @mozilla/Releng
/src/shipit_pipeline                  @mozilla/Releng
/src/shipit_signoff                   @mozilla/Releng
/src/shipit_taskcluster               @mozilla/Releng
/src/shipit/api                       @mozilla/Releng
