/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    /* Background image courtesy of flickr user Compound Eye,
     * http://flickr.com/photos/paopix/199190129 */
    background: #FFF url('background.jpg') no-repeat fixed top left;
}

div.header .auth {
    float: right;
    margin: 1em;
    border: 3px solid #AAA;
    background-color: #EEE;
    padding: 6px;
    border-radius: 6px;
    text-align: center;
}

div.header h1 {
    border: 3px solid #AAA;
    background-color: #EFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
