*.db
*.pyc
*.swp
.-rplugin~

/.cache
/.elm
/.floo
/Dockerfile
/docs/build/
/lib/**/*.egg-info/
/lib/**/.coverage
/lib/**/.coverage-html
/lib/**/build
/lib/**/elm-stuff/
/lib/**/node_modules/
/result*
/src/**/*.egg-info/
/src/**/.coverage
/src/**/.coverage-html
/src/**/build
/src/**/cache/
/src/**/elm-stuff/
/src/**/node_modules/
/tmp
