*.db
*.pyc
*.swp

/.-rplugin~
/.floo
/TODO.txt
/dist/
/docs/build/
/env/
/requirements-flatten.txt
/result*
/src/relengapi/.coverage
/src/relengapi/.coverage-html
/src/relengapi/docs_build_dir/
/src/relengapi/relengapi.egg-info/
/src/relengapi_clobberer/env/
/src/relengapi_clobberer/relengapi_clobberer.egg-info/
/src/relengapi_common/relengapi_common.egg-info/
/src/relengapi_frontend/.coverage
/src/relengapi_frontend/build
/src/relengapi_frontend/elm-stuff/
/src/shipit/shipit.egg-info/
/src/shipit_frontend/build
/src/shipit_frontend/elm-stuff/
