{
    "upload_root": "/upload/root",
    "target_folders": {"pvt": "/target/pvt",
                       "pub": "/target/pub"},
    "smtp_server": "smtp.tooltool.com",
    "smtp_port": 587,
    "user_email_mapping": {"alice": "alice@example.com",
                           "bob": "Bob <bob@example.com>"},
    "default_domain": "mozilla.com",
    "smtp_from": "sync@tooltool.com"
}
