-r ../releng_common/requirements.txt
-e ../releng_common

# from https://github.com/calixteman/clouseau/blob/master/requirements.txt
requests>=2.7.0
requests-futures>=0.9.7
six>=1.10.0
whatthepatch>=0.0.4
elasticsearch>=2.3.0
python-dateutil>=2.5.2
icalendar>=3.10
