-e ../../lib/releng_common

# libmozdata, but without scipy - not released yet
# https://github.com/mozilla/libmozdata/archive/c9d293bf95621b7eb2c3059bc63a2095221227c5.tar.gz#egg=libmozdata
# After update-app, we need the real name in here
libmozdata
