
// Mozilla colors
// https://github.com/mozilla/mozmaker/blob/master/src/scss/custom/_colors.scss
$charcoal: #4d4f53;
$white: #fff;
$black: #000;
$dino-red: #d24735;
$firefox-orange: #f26c23;
$market-orange: #f89c24;
$flame-yellow: #ffcd02;
$gecko-green: #7dc14c;
$summit-teal: #3bba99;
$mobile-blue: #16afe5;
$developer-blue: #4383bf;
$nightly-blue: #5a6ba4;
$aurora-purple: #ab5da4;
$bikeshed-magenta: #e14164;
$border-color: #adadad;

// Mozilla fonts
$font-family-sans-serif: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Fira Sans', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: 'Fira Sans', Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base: 'Fira Sans', $font-family-sans-serif;
$font-size-root: 16px;
$headings-font-weight: 300;

// Fonts
@import url(./font-awesome/font-awesome.css);
@import url(./fira/fira.css);

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Sticky footer
$footer-height: 40px;
html {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: $footer-height;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    background-color: #f5f5f5;
    ul {
      float: right;
      list-style-type: none;
      li {
        float: right;
        margin-left: 20px;
      }
    }
  }
}

.btn-link {
  cursor: pointer;
}

nav {

  // Bugzilla erroneous login link
  .dropdown-item.text-danger .nav-link {
    color: #d9534f;
    font-weight: bold;
  }
  .dropdown-item.text-info .nav-link {
    color: #5bc0de;
    font-weight: bold;
  }

  // analysis links
  .analysis {
    span.name {
      text-transform: capitalize;
      margin-right: 3px;
    }
  }
}

// Uplift requests
div.bugs {
  div.bug {
    margin-bottom: 8px;
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #EEE;

    h4 {
      font-weight: bold;
    }

    div.columns {
      margin-top: 12px;
    }

    p.summary, p.actions {
      margin-bottom: 2px;
      * {
        margin-right: 3px;
        display: inline-block;
      }
    }

    div.uplift-request {
      div.comment {
        h1 {
          font-size: 1.1em;
          margin-bottom: 0;
        }

        div {
          margin-bottom: 10px;

          &.no-header {
            color: #888;
            display: none;
          }

        }

        .risky {
          color: $state-danger-text;
        }
      }
    }
    
    div.contributor {
      margin-bottom: 4px;

      img.avatar {
        box-shadow: 2px 2px 3px 0px #656565;
        max-width: 50px;
        margin: 8px 5px 5px 5px;
      }

      p {
        margin-bottom: 0;

        &.lead {
          * {
            display: inline-block;
            margin-right: 2px;
          }

          .karma {
            font-size: 1.1em !important;
            vertical-align: bottom;
            cursor: context-menu;

            &.positive {
              color: $brand-success;
            }
            &.neutral {
              color: $gray-light;
            }
            &.negative {
              color: $brand-danger;
            }
          }
          button {
            padding-left: 0 !important;
          }
        }

        .badge {
          margin-right: 4px;
        }
      }
    }

    div.patches {
      margin-bottom: 8px;

      span.changes {
        font-family: $font-family-monospace;
        font-size: 1em;
        color: #CCC;
        margin-left: 2px;
        display: inline-block;
        &.additions {
          color: $state-success-text;
        }
        &.deletions {
          color: $state-danger-text;
        }
      }

      span.merge {
        margin-right: 4px;
      }
    }

    div.flags {
      ul {
        padding-left: 0;
        list-style-type: none;
        li {
          * {
            margin-right: 4px;
          }
        }
      }
    }
  }
}
