{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
  <script src="{{ url_for('tokenauth.static', filename='new-token.js') }}" type="text/javascript"></script>
{%- endblock %}
{% block content %}
    <h1>Issue New Token</h1>
    <form action="{{ url_for('tokenauth.issue_token') }}" method="post" id="new-token">
        <p>Select the permissions for the new token.
           Note that a token you issue cannot have permission you do not possess.</p>
        <h2>Permissions to Allow</h2>
        {% for act, doc in available_permissions -%}
        <div><label>
            <input type="checkbox" name="{{ act }}">
            <span class="permission">{{ act }}</span> -
            <span class="permission-docstring">{{doc}}</span>
        </label></div>
        {% endfor %}
        <label>Description: <input name="description" size=100></label>
        <div class="token" style="display: none">Token string: <span class="token">TBD</span></div>
        <input type="button" name="confirm" id="issue-btn" value="Issue">
    </form>
{% endblock %}
