-e ./../../../lib/cli_common[log] #egg=mozilla-cli-common
-e ./../../../lib/backend_common[log,security,cors,api,auth0,db] #egg=mozilla-backend-common

aiohttp
arrow
backoff==1.6.0  # all later versions require poetry which is not supported (yet) by pypi2nix
json-e
mohawk
mozilla-version

# deployment
gunicorn
psycopg2
