-e ./../../../lib/cli_common[log] #egg=mozilla-cli-common
-e ./../../../lib/backend_common[log,security,cors,api,auth0,db] #egg=mozilla-backend-common

aiohttp
arrow
backoff
json-e
mohawk
mozilla-version
typeguard

# deployment
gunicorn
psycopg2
