{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}
{% import 'head_macros.html' as head %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  {{ head.stylesheet(url_for('static', filename='relengapi.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/alertify/alertify.core.css')) }}
  {{ head.stylesheet(url_for('static', filename='js/alertify/alertify.default.css')) }}
  {{ head.script(url_for('static', filename='js/alertify/alertify.min.js')) }}
  {{ head.script(url_for('static', filename='js/jquery/jquery-1.7.2.min.js')) }}
  {%- for content in layout_extra_head_content %}
  {{ content|safe }}
  {%- endfor %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script type="text/javascript">
        $(function() {
            var messages = {{ messages|tojson }};
            $.each(messages, function (idx, msginfo) {
                var category = msginfo[0];
                var msg = msginfo[1];
                alertify.log(msg, category, 0);
            });
        })
      </script>
    {% endif %}
  {% endwith %}
  <meta charset="UTF-8">
  <title>{% block title %}Releng API{% endblock %}</title>
  {% endblock %}
</head>
<body>
  {% block header %}
  <div class="header">
    <div class="auth">
      {% if current_user.is_authenticated() %}
        {% if current_user.type == "human" %}
          <span class="user_email"><a href="/auth/account">{{ current_user.authenticated_email }}</a></span>
          <button id="logout">Logout</button>
        {% else %}
          {{ current_user.type }}
        {% endif %}
      {% else %}        
        Anonymous
        <button id="login">Login</button>
      {% endif %}
    </div>
    <h1>Releng API</h1>
  </div>
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
</body>
</html>


