-e ./../../lib/cli_common[pulse,taskcluster,mercurial] #egg=mozilla-cli-common

awscli
click-spinner
colorama<=0.3.7,>=0.2.5 #(from awscli==1.11.85)
cookiecutter
mozdef-client
requests
slugid
taskcluster
toml
