<h2>Fennec Beta <small class="text-muted">{{ releases["fennec"]["beta"]["version"] }} build{{ releases["fennec"]["beta"]["buildnum"] }}</small></h2>
<div class="progress" style="height: 30px;">
{% if releases["fennec"]["beta"]["human_tasks"]["shipit"] %}
  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Release kicked off</div>
{% else %}
  <div class="progress-bar bg-white text-muted" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Release kick off</div>
{% endif %}
{% if releases["fennec"]["beta"]["human_tasks"]["candidates"] %}
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Uploaded builds</div>
{% else %}
  <div class="progress-bar bg-white text-muted" role="progressbar" style="width: 25%" aria-valuenow="225 aria-valuemin="0" aria-valuemax="100">Upload builds</div>
{% endif %}
{% if releases["fennec"]["beta"]["human_tasks"]["candidates"] %}
  <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">QE signed off</div>
{% else %}
  <div class="progress-bar bg-white text-muted" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">QE sign off</div>
{% endif %}
{% if releases["fennec"]["beta"]["human_tasks"]["pushapk"] %}
  <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Published on Google Play</div>
{% else %}
  <div class="progress-bar bg-white text-muted" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Publish on Google Play</div>
{% endif %}
</div>
