{
    "version": "",
    "date": "",
    "product": "fennec",
    "preflight": {
        "human_tasks": []
    },
    "inflight": [{
        "buildnum": 1,
        "aborted": false,
        "graphids": [],
        "human_tasks": [
            {
                "alias": "shipit",
                "description": "submit to Shipit",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It",
                "resolved": false
            },
            {
                "alias": "candidates",
                "description": "emailed candidates",
                "docs": "",
                "resolved": false
            },
            {
                "alias": "pushapk",
                "description": "run pushapk",
                "docs": "https://github.com/mozilla/releasewarrior/blob/master/how-tos/fennec-temp-relpro.md#run-pushapk-manually",
                "resolved": false
             },
             {
                "alias": "publish",
                "description": "published release tasks",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Updates_through_Shipping#Post-release_tasks",
                "resolved": false
             }
        ],
        "issues": [ ]
    }]
}
