
// Mozilla colors
// https://github.com/mozilla/mozmaker/blob/master/src/scss/custom/_colors.scss
$charcoal: #4d4f53;
$white: #fff;
$black: #000;
$dino-red: #d24735;
$firefox-orange: #f26c23;
$market-orange: #f89c24;
$flame-yellow: #ffcd02;
$gecko-green: #7dc14c;
$summit-teal: #3bba99;
$mobile-blue: #16afe5;
$developer-blue: #4383bf;
$nightly-blue: #5a6ba4;
$aurora-purple: #ab5da4;
$bikeshed-magenta: #e14164;
$border-color: #adadad;

// Mozilla fonts
$font-family-sans-serif: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Fira Sans', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: 'Fira Sans', Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base: 'Fira Sans', $font-family-sans-serif;
$font-size-root: 16px;
$headings-font-weight: 300;

// Fonts
@import url(./font-awesome/font-awesome.css);
@import url(./fira/fira.css);

// Bootstrap
@import "~bootstrap/scss/bootstrap";




// navigation bar
#navbar {
    background-color: $charcoal;
    font-size: 14px;
    padding: 1rem;

    .navbar-toggler {
        color: $white;
        font-size: 14px;
        border: 0;
        padding: 0;
        float: right;
        text-align: right;
    }
    .navbar-toggler-icon {
        color: $white;
    }
    #navbarNavDropdown {
        justify-content: flex-end;
    }
    .nav-item a.nav-link {
        color: darken($white, 20%);
        padding: 0;
    }
    .nav-item.active a.nav-link {
        color: $white !important;
    }
    .navbar-brand {
        color: $white;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0 1em 0 0;
        text-transform: uppercase;
    }
    .dropdown-menu-right {
        right: 0.1em;
    }
    .dropdown-menu {
        border-radius: 0;
        top: 120%;
    }
}

#banner-empty {
    background-color: $developer-blue;
    height: 10px;
}
#banner {
    background-color: $developer-blue;
    min-height: 200px;
    color: $white;

    .container {
        font-size: 34px;
        padding: 73px 0;
        margin: 0 auto;
        text-align: center;
        line-height: 54px;
    }
}

#content {
    .container {
        margin: 1em auto;
    }
}


footer {
    color: $charcoal;
    font-size: 12px;
    line-height: 1.6em;
    margin: 2em 0;
    text-align: center;
    ul li {
        display: inline-block;
        margin: 0 1em;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    div a {
      color: $charcoal;
      border-bottom: 1px dotted $charcoal;
      &:hover {
          text-decoration: none;
          border-bottom: 1px dotted $charcoal;
      }
    }
}

.btn-dropdown {
    width: 100%;
    display: flex;

    .btn:nth-child(1) {
        width: 100%;
        text-align: left;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.open .btn:nth-child(1) {
        border-bottom-left-radius: 0;
    }
    &.open .btn, &.open .btn:hover, .btn:hover {
        background-color: $white;
        border-color: $border-color;
    }
    .btn:nth-child(1)::after {
        display: none;
    }
    .btn:nth-child(2) {
        order: 1;
    }
    &.open .btn:nth-child(2) {
        border-bottom-right-radius: 0;
    }
    .dropdown-menu {
        margin-top: 0;
        width: 100%;
        border-color: $border-color;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        & > a {
          padding-left: 16px;
          padding-right: 16px;
        };
    }
}

.clobberer-submit-description {
    font-size: 0.8em;
    margin: 1em 0;
    ul {
      margin: 0.5em 0 1rem 0;
      border: 1px solid $border-color;
      li {
          margin: 0.5em 0;
      }
    }
}

#page-home .card {
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
    .card-title {
        color: #333;
        font-weight: bold;
    }
    .card-text {
        color: #333;
    }
}

#page-treestatus table tr:hover {
    cursor: pointer;
}


.timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;

    &::before {
      /* this is the vertical line */
      content: '';
      position: absolute;
      top: 0;
      left: 9px;
      height: 100%;
      width: 2px;
      background: $border-color;
    }

}

.timeline-item {
    position: relative;
    margin: 2em 0;

    &::first-child {
        margin-top: 0;
    }
    &::last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        display: table;
        clear: both;
    }
}

.timeline-badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white;
}

.timeline-panel {
    position: relative;
    margin-left: 2em;
    .badge { margin-right: 0.5em; }
}

.timeline-time {
    font-weight: bold;
}

.timeline-more {
    margin-bottom: -1em;
}


.float-xs-right {
    float: right;
}


.tooltip2 {
    position: relative;
}

.tooltip2:hover:after{
    background: rgba(0,0,0,.8);
    border-radius: 4px;
    bottom: -2.5em;
    color: #fff;
    content: attr(title);
    right: 0;
    padding: 0.5em;
    position: absolute;
    z-index: 98;
}


#treestatus > h2 {
    margin-top: 1em;
}

#treestatus-trees {
    clear: both;
}

#treestatus-trees .list-group-item {
    position: relative;
}

#treestatus-trees .list-group-item-action:hover {
    background: transparent;
}

#treestatus-trees .list-group-item h5 {
    margin: 0;
}

#treestatus-trees .list-group-item-with-checkbox {
    padding-left: 3em;
}

#treestatus-trees .custom-checkbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
}

#treestatus-trees .custom-checkbox input {
    margin: 0;
    padding: 0;
    height: 1.6em;
    width: 1.6em;
    margin-left: -0.3em;
}

#treestatus-trees-buttons {
    float: right;
    margin-top: 0.3em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

#treestatus-recentchanges {
    margin-bottom: 2em;
}

#treestatus-recentchanges .btn-group {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

#treestatus-form {
    padding: 2em 1em 1em 1em;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    clear: both;
}

#treestatus-form button {
    float: right;
}

#treestatus-form label {
    font-weight: bold;
}

#treestatus-form label.custom-checkbox {
    font-weight: normal;
    margin: 0 1em 0 0;
}

#treestatus-form small p {
    margin: 0;
}



#treestatus-tree-details {
    text-align: center;
}

#treestatus-tree-details span:first-child {
    font-weight: bold;
}

#treestatus-tree-details p {
    margin-top: 1em;
}
