-r ./../cli_common/requirements-dev.txt

inotify  # needed by gunicorn for faster/better reload

# tests dependencies
Flask
Flask-Caching
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Jinja2
SQLAlchemy
Werkzeug
boto
connexion[swagger-ui]
flask-oidc
flask-talisman
itsdangerous==0.24
kombu
Logbook
mohawk<0.4,>=0.3.4
python-dateutil<2.7.0,>=2.1
python-jose
requests
taskcluster
