# linting
flake8
flake8-coding
flake8-copyright
flake8-debugger
flake8-isort
flake8-mypy
flake8-quotes
#flake8-todo  # TODO: we will need to first remove all TODOs from the code

# testing
codecov
coveralls
pytest
pytest-cov
responses

# develop
pdbpp
ipdb

# tests dependencies
Logbook
click
mozdef-client
raven
structlog
