-e ./../../lib/cli_common[pulse,taskcluster,log] #egg=mozilla-cli-common

aiohttp
pytoml

# libmozdata>=0.1.57
https://github.com/mozilla/libmozdata/archive/cd1781faf398ef2858f82850b0f519382817a295.tar.gz#egg=libmozdata
