aioamqp==0.12.0
aiohttp==3.5.4
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
boto3==1.9.123
botocore==1.12.123
certifi==2019.3.9
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.3
coveralls==1.7.0
docopt==0.6.2
docutils==0.14
entrypoints==0.3
fancycompleter==0.8
flake8==3.7.7
flake8-coding==1.3.1
flake8-copyright==0.2.2
flake8-debugger==3.1.0
flake8-isort==2.7.0
flake8-mypy==17.8.0
flake8-quotes==1.0.0
flit==1.3
idna==2.8
intreehooks==1.0
isort==4.3.16
jmespath==0.9.4
Logbook==1.4.3
mccabe==0.6.1
mohawk==1.0.0
more-itertools==6.0.0
mozdef-client==1.0.11
mozilla-cli-common==1.0.0
multidict==4.5.2
mypy==0.670
mypy-extensions==0.4.1
pdbpp==0.9.14
pluggy==0.9.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
pytest==4.3.1
pytest-asyncio==0.10.0
pytest-cov==2.6.1
pytest-runner==4.4
python-dateutil==2.6.1
python-hglib==2.6.1
pytoml==0.1.20
pytz==2018.9
raven==6.10.0
requests==2.21.0
requests-futures==0.9.9
responses==0.10.6
s3transfer==0.2.0
setuptools-scm==3.2.0
six==1.12.0
slugid==2.0.0
structlog==19.1.0
taskcluster==7.0.1
taskcluster-urls==11.0.0
testfixtures==6.6.2
typed-ast==1.3.1
urllib3==1.24.1
wmctrl==0.3
yarl==1.3.0
