<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Releng API</title>
  <link href="css/alertify.core.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/alertify.default.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/relengapi.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="css/tooltool.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Release Engineering</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a id="login" href="#">Login</a></li>
          <li id="loggedin" class="dropdown hidden">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">username<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Manage credentials</a></li>
              <li><a id="logout" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="content">
    <div class="container-fluid">

      <!-- This Source Code Form is subject to the terms of the Mozilla Public
           License, v. 2.0. If a copy of the MPL was not distributed with this
           file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
      <div ng-app="tooltool" ng-controller="TTSearchController">
          <div class="row">
              <div class="col-xs-4">
                  <span class="h2">Tooltool</span>
              </div>
              <div class="col-xs-8 tt-searchbar">
                  <form ng-submit="startSearch()">
                      <div class="input-group">
                          <input type="text" class="form-control"
                              placeholder="Search for..." autofocus
                              ng-model="search_query">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                  <span class="sr-only">Search</span>
                              </button>
                          </span>
                      </form>
                  </div>
              </div>
          </div>
          <div class="row" ng-show="show_help">
              <div class="col-xs-12">
                  <div class="alert alert-info" role="alert">
                      To begin, enter search terms above.  You can search by
                      <ul>
                          <li>Filename</li>
                          <li>SHA512 hash</li>
                          <li>Upload author</li>
                          <li>Upload message (including bug number)</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row" ng-show="file_results">
              <div class="col-xs-12">
                  <span class="h3">Files</span>
                  <div class="list-group">
                      <div ng-repeat="res in file_results" class="list-group-item">
                          <tt-result-file res="res"></tt-result-file>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row" ng-show="batch_results">
              <div class="col-xs-12">
                  <span class="h3">Upload Batches</span>
                  <div class="list-group">
                      <div ng-repeat="res in batch_results" class="list-group-item">
                          <tt-result-batch res="res"></tt-result-batch>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </div>
  </div>

  <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/alertify.min.js" type="text/javascript"></script>
  <script src="js/auth_external.js" type="text/javascript"></script>
  <script src="js/angular.min.js" type="text/javascript"></script>
  <script src="js/moment.min.js" type="text/javascript"></script>
  <script src="js/angular-moment.min.js" type="text/javascript"></script>
  <script src="js/tooltool.js" type="text/javascript"></script>
  <script src="js/relengapi.js" type="text/javascript"></script>
  <script type="text/javascript">

    $(document).ready(function() {
        var $login = $('#login');
        var $loggedin = $('#loggedin');
        var $logout= $('#logout');

        var setup = function() {
            var auth = window.localStorage.getItem('auth');
            var url = $('body').attr('data-releng-tooltool-url') || 'https://localhost:8002';
            try {
                auth = JSON.parse(auth);
            } catch(err) {
                auth = null;
            }
            if (auth != null && auth.access_token) {
                $.ajax({
                    'url': url + '/init',
                    'beforeSend': function (xhr) {
                        xhr.setRequestHeader("Authorization", auth.access_token);
                    },
                    'error': function(xhr, status, error) {
                    },
                    'success': function(data, status, xhr) {
                        $login.toggleClass('hidden');
                        $loggedin.toggleClass('hidden');
                        angular.module('initial_data', []).constant('initial_data', data || {})
                    }
                });
            }

        };

        $login.on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            // TODO: redirect to auth0 login
        });

        $logout.on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            window.localStorage.removeItem('auth');
            $login.toggleClass('hidden');
            $loggedin.toggleClass('hidden');
        });

        // TODO: check periodickly check for expiration (via setTimeout)
        setup();
    });

  </script>
</body>
</html>
