{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="display-4">{{ channel_status.product }}/{{ channel_status.channel }}</h1>
        </div>
    </div>

    {% if channel_status.is_latest_build_update %}
        <div class="alert alert-success" role="alert">
            <span class="text-capitalize"> {{ channel_status.channel }}</span> updates are currently.
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
          <h2 class="alert-heading">Frozen to [Build ID]/Serving the latest {{ channel_status.channel }} {{channel_status.rule['buildID']}}</h3>
          <p>Frozen because of: {{ channel_status.rule['comment'] }}</p>
          <hr>
          <p class="mb-0">See below to additional information.</p>
        </div>
    {% endif %}

    {%  if channel_status.is_throttled %}
        <div class="alert alert-warning" role="alert">
            Updates are <span class="badge badge-warning">{{ channel_status.background_rate }}%</span> throttled. See below for additional information.
        </div>
    {% endif %}

    {% if not channel_status.is_latest_build_update %}
        {% with release=channel_status.release, label='Current release:' %}
            {% include 'release.html' %}
        {% endwith %}
    {% endif %}

{% endblock %}