<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                {{ label }} {{ release.name }}
            </div>
            <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Platforms</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for platform in release.platforms %}
                        <tr>
                          <td>
                            
                            <table class="table">
                              <thead>
                                <tr>
                                    <th colspan="3">{{ platform.name }}</th>
                                </tr>
                                <tr>
                                  <th>Locale</th>
                                  <th>BuildID</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for locale_name, locale in platform.locales.items() %}
                                    <tr>
                                      <td>
                                        {{ locale_name }}
                                        {% if platform.is_user_platform and release.user_locale == locale_name %}
                                            <span class="badge badge-success">User Locale</span>
                                        {% endif %}
                                     </td>
                                      <td>{{ locale['buildID'] }}</td>
                                    </tr>
                                {% endfor %}

                              </tbody>
                            </table>

                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>