
// Colors (from https://github.com/mozilla/mozmaker/blob/master/src/scss/custom/_colors.scss)
$charcoal: #4d4f53;
$white: #fff;
$black: #000;
$dino-red: #d24735;
$firefox-orange: #f26c23;
$market-orange: #f89c24;
$flame-yellow: #ffcd02;
$gecko-green: #7dc14c;
$summit-teal: #3bba99;
$mobile-blue: #16afe5;
$developer-blue: #4383bf;
$nightly-blue: #5a6ba4;
$aurora-purple: #ab5da4;
$bikeshed-magenta: #e14164;

// Font
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: 'Open Sans', Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base: 'Open Sans', $font-family-sans-serif;
$font-size-root: 16px;

$headings-font-weight: 300;

@import "~bootstrap/scss/bootstrap";

// Sticky footer
$footer-height: 40px;
html {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: $footer-height;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    background-color: #f5f5f5;
    ul {
      float: right;
      list-style-type: none;
      li {
        float: right;
        margin-left: 20px;
      }
    }
  }
}

nav {
  .user {
    // Bugzilla erroneous login link
    .dropdown-item.text-danger .nav-link {
      color: #d9534f;
      font-weight: bold;
    }
    .dropdown-item.text-info .nav-link {
      color: #5bc0de;
      font-weight: bold;
    }
  }
}

// Uplift requests
div.bugs {
  div.bug {
    margin-bottom: 8px;
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #EEE;

    h4 {
      font-weight: bold;
    }

    p.summary, p.actions {
      * {
        margin-right: 3px;
        display: inline-block;
      }
    }

    div.uplift-request {
      div.comment {
        p {
          margin-bottom: 1px;
        }
      }
    }
    
    div.user {
      margin-bottom: 4px;

      img.avatar {
        box-shadow: 2px 2px 3px 0px #656565;
        max-width: 50px;
        margin: 8px 5px 5px 5px;
      }

      p {
        margin-bottom: 0;

      }
    }

    div.patches {
      margin-bottom: 8px;
    }
  }
}
