-r ./../../../lib/backend_common/requirements-dev.txt

responses
aresponses
mockredispy
# pytest-asyncio is a dependency of aresponses, but source tarball does not
# include LICENSE file so we need to pin it manually
https://github.com/pytest-dev/pytest-asyncio/archive/v0.9.0.tar.gz#egg=pytest-asyncio
