-e ./../../../lib/cli_common[taskcluster,log] #egg=mozilla-cli-common
-e ./../../../lib/backend_common[log,security,cors,api,cache] #egg=mozilla-backend-common

aiohttp
async-lru
cachetools
datadog
google-cloud-storage
redis
rq
gunicorn
setuptools-scm # needed by py-1.5.4 buildInputs
zstandard
