-e ./../../../lib/cli_common[taskcluster,log,phabricator] #egg=mozilla-cli-common
-e ./../../../lib/backend_common[log,security,cors,api,cache] #egg=mozilla-backend-common

aiohttp
async-lru
cachetools
datadog
google-cloud-storage
redis<3 # due to fakeredis
rq==0.12.0 # due to 0.13 requiring redis>=3 which colides with fakeredis
gunicorn
elasticsearch-async
setuptools-scm # needed by py-1.5.4 buildInputs
