-e ./../../../lib/cli_common[taskcluster,log,phabricator] #egg=mozilla-cli-common
-e ./../../../lib/backend_common[log,security,cors,api,cache] #egg=mozilla-backend-common

aiohttp
async-lru
cachetools
redis
rq
gunicorn
elasticsearch-async
setuptools-scm # needed by py-1.5.4 buildInputs

https://github.com/mozilla/esFrontLine/archive/987f924750ae1ec7bd684fc37c80003473ae9bed.tar.gz#egg=esFrontLine
