{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{%- extends "root_widget.html" %}
{% block widget_title %}<a href="/tooltool">Tooltool</a>{% endblock %}
{% block widget_content %}
<p>
<a href="/tooltool">Tooltool</a> is tool for fetching binary artifacts for builds and tests.
The web interface lets you browse the files currently available from the service.
</p>
{% endblock %}


