{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends "layout.html" %}
{% block content %}
  <h1>Account</h1>
  <p>You are authenticated as <span class="user_email">{{ current_user.authenticated_email }}</span>.</p>
  {% if current_user.permissions %}
    <h1>Permissions</h1>
    <ul>
    {% for action in current_user.permissions %}
    <li><span class="action">{{ '.'.join(action) }}</span> - <span class="action-docstring">{{ action.__doc__ }}</span></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>You don't have permission to do anything.  Sorry about that.</p>
  {% endif %}
{% endblock %}
