# NOTE: these files must *also* be specified in setup.py
include docs/conf.py
recursive-include docs *.rst
recursive-include docs/_static *
recursive-include relengapi *.html *.jpg *.css *.js *.txt
include LICENSE.txt
include README.md
prune docs_build_dir
