{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
  <script type="text/javascript">
      var loanid = {{ g.loanid }}
      var _get_history_url = '{{ url_for("slaveloan.get_loan_history", loanid=g.loanid) }}'
      var _complete_loan_url = '{{ url_for("slaveloan.complete_loan", loanid=g.loanid) }}'
      var _get_manual_actions_base = '{{ url_for("slaveloan.get_loan_actions") }}'
      var _get_manual_actions_url = _get_manual_actions_base + '?loan_id=' + loanid
  </script>
  <script src="{{ url_for('slaveloan.static', filename='slaveloan_details.js') }}" type="text/javascript"></script>
{%- endblock %}
{% block content %}

<fieldset><legend>Actions</legend>
<dl>
<dt>Relinquish Loan</dt>
<dd>
  <ul>
    <li>Follow steps at <a href="https://wiki.mozilla.org/index.php?title=ReleaseEngineering/How_To/Loan_a_Slave#Reclaiming">
        https://wiki.mozilla.org/index.php?title=ReleaseEngineering/How_To/Loan_a_Slave#Reclaiming</a></li>
    <li>Then <input id="complete_loan" type="button" value="Mark as Relinquished"></input></li>
  </ul>
</dd>
</fieldset>

<h2>Loan History</h2>
<table border=1 id="loans-history">
<thead>
    <tr>
        <th>TimeStamp</th>
        <th>Message</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>

<div id="actions_wrapper">
<h2>Pending Actions</h2>
<table border=1 id="loans-actions">
<thead>
    <tr>
        <th>TimeStamp</th>
        <th>Message</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
</div>

{% endblock %}
