-e ./../../../lib/cli_common[taskcluster,mercurial,log] #egg=mozilla-cli-common

pyOpenSSL>=0.14  # Could not find a version that satisfies the requirement pyOpenSSL>=0.14; extra == "security" (from requests[security]>=2.7.0->libmozdata==0.1.43)
https://github.com/marco-c/bugbug/archive/6ce0163bb7dac1cf6c602a3ef4fbd451bb964a6f.tar.gz#egg=bugbug
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#egg=en-core-web-sm
