/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    /* Background image courtesy of flickr user Compound Eye,
     * http://flickr.com/photos/paopix/199190129 */
    background: #FFF url('background.jpg') no-repeat fixed top left;
}

.navbar-about {
    width: 300px;
    padding: 0.5em;
}

.navbar-user-info {
    width: 300px;
    padding: 0.5em;
    padding-bottom: 0;
}
