<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Permission</th>
            <th>Meaning</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="perm in available_permissions|orderBy:'name'"
        ng-class="{'success': permissions.indexOf(perm.name) != -1}"
        ng-click="togglePermission(perm)">
        </td><td>
            <perm name="{{perm.name}}" />
        </td><td>
            <small>{{perm.doc}}</small>
        </td>
    </tr>
    </tbody>
</table>

