<!-- This Source Code Form is subject to the terms of the Mozilla Public
     License, v. 2.0. If a copy of the MPL was not distributed with this
     file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<div ng-app='tokens' ng-controller="TokenController" ng-switch="view">
    <div class="row">
        <div ng-controller="TokenListController"
            class="col-xs-12 col-lg-7"
            ng-show="can_view">
            <div class="pull-right">
                <button
                    ng-show="can_revoke && !revoke_enabled"
                    class="btn btn-warning"
                    ng-click="enableRevoke()">Revoke Tokens</button>
                <button class="btn btn-default"
                    ng-click="refreshTokens()"><span class="glyphicon glyphicon-refresh">
                </span></button>
            </div>
            <h3>Active Tokens</h3>
            <ul class="list-group">
                <li ng-repeat="token in tokens|orderBy:'id'" class="list-group-item">
                <span ng-repeat="perm in token.permissions">
                    <perm>{{perm}}</perm>
                </span>
                <button class="btn btn-xs btn-danger pull-right"
                    ng-click="revokeToken(token.id)"
                    ng-hide="!revoke_enabled || !can_revoke"
                    ng-disabled="!revoke_enabled || !can_revoke"
                    >Revoke</button>
                <br/>
                <small>{{token.description}}</small>
                </li>
            </ul>
        </div>
        <div ng-controller="NewTokenController"
            class="col-xs-12 col-lg-5"
            ng-show="can_issue">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Issue New Token</h3>
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <p>Select the permissions for the new token.
                        Note that you can only issue tokens with permissions that you possess.</p>
                        <permission-selector
                            ng-model="newtoken.permissions"
                            permissions="available_permissions"></permission-selector>
                        <div class="pull-right">
                            <button ng-click="issueToken()" ng-hide="form.$invalid">Issue</button>
                        </div>
                        <p>Describe this token so that others can identify its use later:</p>
                        <input ng-model="newtoken.description" ng-required="true" class="form-control"></input>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="tokenIssuedModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title">Token Issued</h3>
                        </div>
                        <div class="modal-body">
                            Token string:
                            <pre class="token">{{token}}</pre>
                            <div class="alert alert-warning">
                                This string will not be shown again!
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
