-e ./../../../lib/cli_common[log] #egg=mozilla-cli-common

https://github.com/marco-c/firefox-code-coverage/archive/06e2438cf0f1c29b7fae129f8b73231e55f3e14b.tar.gz#egg=firefox-code-coverage
https://github.com/mozilla/coverage-crawler/archive/be53319e43a2a991df69fbbb17489548984809ca.tar.gz#egg=coverage-crawler
