-e ./../../../lib/cli_common[log] #egg=mozilla-cli-common

https://github.com/marco-c/firefox-code-coverage/archive/781a78d5225334772392ad9e7056bcdc76bf805a.tar.gz#egg=firefox-code-coverage
https://github.com/mozilla/coverage-crawler/archive/077262d60a1da1a27b84fe095d4e6378e1060c3f.tar.gz#egg=coverage-crawler
